@model List<Room>
@{ 
    List<Сlient> clients = ViewBag.Clients;
}

@section styles
{
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
}

<!-- Breadcrumb Area Start-->
<section class="breadcrumb-area overlay-dark-2 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>room - grid view</h2>
                    <p>A quality room of hotel ATR with sea or mountain view</p>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Room - grid view</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Room Area Start -->
<section class="room-area pt-90 room-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h3>our atr rooms</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellente sque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor. Aliquam </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            @foreach (Room room in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-room">
                        <img src="@room.PathToImage" alt="">
                        <div class="room-hover text-center">
                            <div class="hover-text">
                                <h3><a href="room-details.html">@room.Name</a></h3>
                                <div class="p-amount">
                                    <span>$@room.Price</span>
                                    <span class="count">Per Night</span>
                                </div>
                                <p>@room.Descriotion</p>
                                <div class="room-btn">
                                    <a href="@Url.Action("RoomDetails", "Room", new {id=room.Id })" class="default-btn">DETAILS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @*<div class="col-md-12 fix">
                <div class="pagination-content text-center">
                    <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</section>
<!-- Room Area End -->
<!-- Client Area Start -->
<div class="client-area">
    <div class="container">
        <div class="row">
            <div class="client-carousel">
                @* @foreach (Сlient client in clients)
                {
                    <div class="single-client">
                        <div class="client-image">
                            <a href="@client.Url">
                                <img src="@client.ImagePath" alt="@client.AltImage" class="p-img">
                                <img src="@client.ImagePathHover" alt="@client.AltImage" class="s-img">
                            </a>
                        </div>
                    </div>
                }     *@           
            </div>
        </div>
    </div>
</div>
<!-- Client Area End -->
<!-- Newsletter Area Start -->
<section class="newsletter-area bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="newsletter-container">
                    <h3>NewsLetter Sign-Up</h3>
                    <div class="newsletter-form">
                        <form action="#" id="mc-form" class="mc-form fix">
                            @Html.TextBox("mc-email", "Enter your E-mail")
                            @*<input id="mc-email" type="email" name="email" placeholder="Enter your E-mail">*@
                            <button id="mc-submit" type="submit" class="default-btn">subcribes</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Area End -->
